@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(80, 5, 5);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url("https://www.dexerto.com/cdn-image/wp-content/uploads/2024/01/08/the-sopranos-tiktok.jpg?width=1200&quality=60&format=auto");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

#movingText {
    position: absolute; /* or relative */
   bottom: 60%;
    left: 100px;
    font-size:xx-large;
    color: darkred;
}
